.searchBox{
	width: auto;
	align-items: center;
	height: 50px;
	background-color: #f1f2ff;
    border-radius: 15px;
	display: flex;
	align-items: center;
	padding: 20px;
    margin-top: 20px;
}
.searchBox > a {
	font-size: 20px;
	color: #777;
}
.searchBox > input{

	width: 20px;
	flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
    background-color: #f1f2ff;
}
.profileBox {
	width: auto;
	height: 50px;
    border-radius: 25px;
	display: flex;
	align-items: center;
	padding: 20px;
    margin-top: 10px;
}
.profileBox > a {
	font-size: 20px;
	color: #777;
}
.profileBox > img {
    margin-top: 20px;
	font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 40px;
    border-color: silver;
    border: 2px solid;
    border-radius: 20px;
}
.rainCard {
  color: white;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  position: relative;
  width: 80%;
  height: 85%;
  background-image: linear-gradient(to right, #86adfe, #6d9eff);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}
/*adding rain img and making opacity 0*/
.rainCard:before {
	content: "";
	position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(Resources/rain.png);
	animation: rain 1s linear infinite;
	opacity: 0;
}
.rainCard:hover {
	box-shadow: 0px 0px 50px 10px #9590ff;
}
/* just changing the position of image
of rain using keyframes*/
@keyframes rain {
  0% {
	  background-position: 0 0;
	  opacity: 1;
  }
  100% {
	  background-position: 8% 80%;
	  opacity: 1;
  }
}
.secCard {
	color: white;
	align-items: center;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	position: relative;
	width: 80%;
	height: 14%;
	background-image: linear-gradient(to right, #ff83b8, #ff65ae);
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}
.secCard:hover {
	box-shadow: 0px 0px 50px 3px #4e73df;
}

#toggle_checkbox
{
    display: none;
}

label
{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 116px;
    height: 56px;
    margin: 0 auto;
    background-color: #03a9f4;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star
{
    position: absolute;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star
{
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fff;
    transition: 0.3s ease color;
}

#moon
{
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before
{
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: #000;
}

#toggle_checkbox:checked + label #star
{
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star
{
    color: yellow;
}

#toggle_checkbox:checked + label #moon
{
    bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: #000;
}
.rightTop {
	color: #7760ff;
	margin-top: 3%;
	margin-left: 5%;
	font-size: 5em;
	margin-bottom: 0%;
}
.rightDate {
	color: #4a3e6a;
	margin-left: 5%;
	font-size: 1.5em;
	margin-bottom: 0%;
}
.rightGreet {
	color: #7a6bf3;
	margin-top: 1%;
	margin-left: 5%;
	font-size: 2.5em;
	margin-bottom: 0%;
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}  
/* Style the icon bar links */
.icon-bar a {
    display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}
/* Style the social media icons with color, if you want */
.icon-bar a:hover {
	background-image: linear-gradient(to right, #ff76b4, #ff45a0);
}
.icontake {
	background-image: linear-gradient(to right, #9e9fff, #877bff);	  
}
.iconroundbtm {
	background-image: linear-gradient(to right, #9e9fff, #877bff);
	border-bottom-right-radius: 20px;
}
.iconroundup {
	background-image: linear-gradient(to right, #9e9fff, #877bff);
	border-top-right-radius: 20px;
}
.airQ {
    color: #03e879;
    font-size: 3em;
    margin-left: 8%;
}
.rfBtn {
    border-radius: 8px;
    background-color: #f5f5ff; /* Green */
    border: none;
    color: #8c83ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20%;
    margin-bottom: 10%;
}
.wCard {
    background-color: white;
    border-radius: 30px;
    width: 100%;
    margin-left: 6%;

}
.wCard:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.styleVal {
    margin-left: 2%;
    width: 80px;
    margin-bottom: 2%;
}
.inCard {
    text-align: center;
    background-color: #d4e5f0;
    color: #07cc7f;
    font-size: 1.5em;
    border-radius: 10px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 1.5%;
    margin-left: 1.5%;
    color: #443e60;
    text-align: center;
    border-radius: 40px;
    width: 10%;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    background-image: linear-gradient(to right, #9a95ff, #7f6aff);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.wIcon {
    width: 70px;
    height: auto;
}

.tCard {
    background-color: white;
    border-radius: 30px;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
}
.tCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.progress-bar-vertical {
    width: 20px;
    min-height: 200px;
    margin-right: 20px;
    background: #d0cece;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    -webkit-align-items: flex-end
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease
}

.progress-striped {
    background-color: #ee5f5b;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
}

.midCard {
    background-color: #fff9ee;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
    border-radius: 15px;
}
.midCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}